body{
	background-color: #ADD9F4;
}
h1,h2{
	text-align: center;
}

.centro{
	margin:auto;
	display:block;
}
.grigio{
	background-color:#eee;
}

.giallo{
	background-color:yellow;
	color:red;
}

.font{
	font-family: Arial, sans-serif;
}
.menu{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	background-color:#333;
}
.left{
	display:block;
	color: white;
	text-align:center;
	padding: 14px 16px;
	text-decoration: none;
	float:left;
}
.active{
	background-color:red;
}
.float{
	float:left;
	padding:20px;
}
.piccolo{
	width:50%;
}
.basso{
	padding-top:30px;
}
.cucito{
	padding-top:60px;
}
.clearfix:after { 
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.destra{
	float:right;
	padding:55px;
}
.sinistra{
	float:left;
	padding:80px 40px;
}
.modulo{
	background-color: #eee;
}